<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Sudev Kiyada Resume</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <!-- link the main css file -->
  <link rel="stylesheet" href="styles/styles copy.css" />

  <!-- Google Font IBM Plex Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- link the main js file -->
  <script type="module" src="scripts/app.js"></script>
</head>

<body>
    <main>
        <article>
            
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h1 class="display-4 bold-text">Sudev Kiyada</h1>
                            <h4 class="bold-text">Information & Interface Designer</h4>
                            <p class="opacity-75" style="max-width: 56%;">Currently pursuing Information Design at NID. I like to work at the intersection of technology and art. I enjoy reading about simulations, watching movies and exploring new typefaces.</p>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column justify-content-between">
                            <div class="d-flex flex-column gap-1 text-end">
                                <a href="https://sudevkiyada.com" target="_blank" style="color: black;"><h5 class="bold-text">sudevkiyada.com</h5></a>
                                <a href="mailto:sudev_k@nid.edu" target="_blank" style="color: black; text-decoration: none;"><h5 class="opacity-50">sudev_k@nid.edu</h5></a>
                                <h5>+91 70166 44504</h5>
                            </div>
                            <div class="d-flex flex-row gap-3 justify-content-end">
                                <a class="social-links" href="https://www.instagram.com/one.zero.zero.one/" target="_blank"><i class="bi bi-instagram"></i></a>
                                <a class="social-links" href="https://twitter.com/sudev_kiyada" target="_blank"><i class="bi bi-twitter"></i></a>
                                <a class="social-links" href="https://www.linkedin.com/in/sudevkiyada/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                <a class="social-links" href="https://github.com/SudevKiyada" target="_blank"><i class="bi bi-github"></i></a>
                                <a class="social-links" href="https://dribbble.com/SudevKiyada" target="_blank"><i class="bi bi-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col border-bottom border-3 pb-2 mb-3">
                            <h5 class="section-head">Experience</h5>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-4 d-flex flex-column">
                            <h5 class="bold-text">Freelance</h5>
                            <p class="subtext">Nov 2019 - Aug 2020</p>
                        </div>
                        <div class="col-md-8 d-flex">
                            <p>I collaborated with developers in helping various startups achieve their goal with UI-UX Design, Branding and Data Visualisation.</p>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-4 d-flex flex-column">
                            <h5 class="bold-text">Yudiz Solutions Pvt Ltd, Ahmedabad</h5>
                            <p class="subtext">Mar 2018 - Oct 2019</p>
                        </div>
                        <div class="col-md-8 d-flex flex-column">
                            <h5 class="bold-text">Jr. Designer</h5>
                            <p>Worked closely with developers, product managers and stakeholders in conceptualising and creating various websites and mobile applications for multiple organisations. Trained 5 people under me for the same role and came up with standards to maintain design process consistency at the firm.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col border-bottom border-3 pb-2 mb-3">
                            <h5 class="section-head">Education</h5>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-4 d-flex flex-column">
                            <h5 class="bold-text">National Institute of Design, Bengaluru</h5>
                            <p class="subtext">Sep 2020 - Present</p>
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <div class="d-flex flex-row gap-2">
                                <h5>Master of Design</h5>
                                <h5 class="opacity-50 text-decoration-underline">Information Design</h5>
                            </div>
                            <p>Currently pursuing 4th semester<br>CGPA : 8.67</p>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-4 d-flex flex-column">
                            <h5 class="bold-text">VVP Engineering College, Rajkot</h5>
                            <p class="subtext">Apr 2013 - Mar 2017</p>
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <div class="d-flex flex-row gap-2">
                                <h5>Bachelor of Engineering</h5>
                                <h5 class="opacity-50 text-decoration-underline">Computer Engineering</h5>
                            </div>
                            <p>CGPA : 9.46</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col border-bottom border-3 pb-2 mb-3">
                            <h5 class="section-head">Responsibilities</h5>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-4 d-flex flex-column">
                            <h5 class="bold-text">National Institute of Design, Bengaluru</h5>
                            <p class="subtext">Sep 2020</p>
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <h5>Core Placement Committee</h5>
                            <p>Contributed in successfully conducting the placements for 450+ students by coordinating with students and recruiters.</p>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-4 d-flex flex-column">
                            <h5 class="bold-text">VVP Engineering College, Rajkot</h5>
                            <p class="subtext">2016 & 2017</p>
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <h5>Vedanta</h5>
                            <p>Successfully conducted and later mentored the following year an intra-college techfest inviting around 500+ students from more than 10+ disciplines.</p>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-4 d-flex flex-column">
                            <h5 class="bold-text">VVP Engineering College, Rajkot</h5>
                            <p class="subtext">2013-17</p>
                        </div>
                        <div class="col-8 d-flex flex-column">
                            <h5>Novateur Commune</h5>
                            <p>Helped in conducting various events pertaining to computer engineering along with other 3 people.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="border-bottom border-3 pb-2 mb-3">
                                <h5 class="section-head">Skills</h5>
                            </div>

                            <div class="d-flex flex-wrap opacity-75" style="column-gap: 8px;">
                                <p>UX Research</p>●
                                <p>Data Visualisation</p>●
                                <p>UI Design</p>●
                                <p>Generative Art</p>●
                                <p>Information Architecture</p>●
                                <p>Rapid Prototyping</p>●
                                <p>Instructional Illustration</p>●
                                <p>Task Analysis & Persona Hypothesis</p>
                            </div>
                        </div>

                        <div class="col-5 offset-2">
                            <div class="border-bottom border-3 pb-2 mb-3">
                                <h5 class="section-head">Tools</h5>
                            </div>

                            <div class="d-flex flex-wrap opacity-75" style="column-gap: 8px;">
                                <p>D3.js</p>●
                                <p>Figma</p>●
                                <p>Sketch</p>●
                                <p>Python</p>●
                                <p>Invision Studio</p>●
                                <p>p5.js</p>●
                                <p>Processing</p>●
                                <p>three.js</p>●
                                <p>OpenFrameworks</p>●
                                <p>Observable Plot</p>●
                                <p>Affinity Designer</p>●
                                <p>GitHub</p>●
                                <p>Affinity Photo</p>●
                                <p>Affinity Publisher</p>●
                                <p>HTML/CSS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</body>

</html>